<div class="container border-bottom-5">
    <form action="/search" method="post">
        <div class="row">
            <div class="col-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchOptions" id="inlineRadio1" value="relevance"
                        {% if searchOptions is not defined or searchOptions == "relevance"  %}
                            checked="true"
                        {% endif %}>
                    <label class="form-check-label" for="searchRelevance">Relevance (Full Text Search)</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchOptions" id="inlineRadio2" value="semanticText"
                        {% if searchOptions == "semanticText"  %}
                                checked="true"
                            {% endif %}>
                    <label class="form-check-label" for="searchSemantic">Semantic (Vector Search with OpenAI Ada)</label>
                  </div>
                  
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchOptions" id="inlineRadio2" value="similarText" disabled="true"
                        {% if searchOptions == "similarText"  %}
                            checked="true"
                        {% endif %}>
                    <label class="form-check-label" for="searchSimilarText">Similar Text (OpenAI Ada)</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchOptions" id="inlineRadio2" value="similarImage" disabled="true"
                        {% if searchOptions == "similarImage"  %}
                            checked="true"
                        {% endif %}>
                    <label class="form-check-label" for="searchSimilar">Similar (Image clip-ViT-B-3)</label>
                  </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-9">
                        <input type="text" class="form-control" id="searchInput" name="searchInput"
                        {% if searchInput  %}
                            value="{{searchInput}}"
                        {% endif %}>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    {% if similarto %}
    <div class="row">
        <div class="col-3">
            <p>Similarity search based on:</p>
        </div>
        <div class="col-9">
            {% with movie=similarto %}
                {% include "movieTile.html" %}
            {% endwith %}
        </div>
    </div>
    {% endif %}
</div>



