<div class="container">
    <form action="/search" method="post">
       
        <div class="row">
            <div class="col-9">
                <input type="text" class="form-control" id="searchInput" name="searchInput"
                {% if searchInput  %}
                    value="{{searchInput}}"
                {% endif %} />
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>


        <div class="row">
            <div class="col-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchOptions" id="inlineRadio1" value="relevance"
                        {% if searchOptions is not defined or searchOptions == "relevance"  %}
                            checked="true"
                        {% endif %}>
                    <label class="form-check-label" for="searchRelevance"><strong>Relevance</strong><p>user input with Full Text Search</p></label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchOptions" id="inlineRadio2" value="semanticText"
                        {% if searchOptions == "semanticText"  %}
                                checked="true"
                            {% endif %}>
                    <label class="form-check-label" for="searchSemantic"><strong>Semantic</strong><p>user input with Vector Search using OpenAI Ada</p></label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="generateDescription">
                    <label class="form-check-label" for="flexCheckDefault">
                      Generate description?
                    </label>
                  </div>
            </div>
            <div class="col-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchOptions" id="inlineRadio2" value="similarText" disabled="true"
                        {% if searchOptions == "similarText"  %}
                            checked="true"
                        {% endif %}>
                    <label class="form-check-label" for="searchSimilarText"><strong>Similar Plot Text</strong><p>selected movie plot text with Vector Search using OpenAI Ada</p></label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchOptions" id="inlineRadio2" value="similarImage" disabled="true"
                        {% if searchOptions == "similarImage"  %}
                            checked="true"
                        {% endif %}>
                    <label class="form-check-label" for="searchSimilar"><strong>Similar Poster Image</strong><p>selected movie poster image with Vector Search using Image clip-ViT-B-3</p></label>
                </div>
            </div>
        </div>
    </form>
    
    {% if similarto %}
    <div class="row">
        <div class="col-3">
            <p><a href="{{ url_for('home') }}">(Reset)</a>Similarity search based on:</p>
        </div>
        <div class="col-9">
            
            {% with movie=similarto %}
                {% include "movieTile.html" %}
            {% endwith %}
        </div>
    </div>
    {% endif %}
</div>



